@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Onelink University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Onelink University</h2>
        <p>
            Onelink University es una aplicación de ejemplo para mostrar como usar Entity Framework Core en una aplicación web 
            ASP.NET Core MVC .
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construirlo desde Cero</h2>
        <p>para construir esta aplicación se ha utilizado como recurso los pasos del siguiente tutorial. </p>
        <p><a class="btn btn-warning" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Ir al tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descargar ejemplo</h2>
        <p>Puedes descargar el projecto completo disponible en el siguiente repositorio de GitHub.</p>
        <p><a class="btn btn-primary" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Ir al repositorio &raquo;</a></p>
    </div>
</div>