@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Esta es una pagina creada con fines educativos para la empresa Onelink by Webhelp®, por lo cual no será enviada a un ambiente de producción.</p>
<p>Desarrollador: Simón Andres Padron Gaviria.</p>
<p>Telefono: 3045374560</p>
<p>Correo: simon.padron@onelinkbpo.com</p>
